@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url(//hangeul.pstatic.net/hangeul_static/css/nanum-square-neo.css);

* {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  letter-spacing: 0.1;
}

body {
  background-color: #1e1e1e;
  color: white;
}

#header::-webkit-scrollbar {
  display: block;
  width: 14px;
}
#header::-webkit-scrollbar-track {
  background-color: #ffffff5;
  width: 8px;
}
#header::-webkit-scrollbar-button {
  background-color: #ffffff5;
  height: 6px;
}
#header::-webkit-scrollbar-thumb {
  width: 8px;
  margin: 2px;
  border: 4px solid transparent;
  border-radius: 8px;
  background-clip: padding-box;
  background-color: #ffffff10;
}
#header::-webkit-scrollbar-thumb:hover {
  background-color: #ffffff15;
}

*::-webkit-scrollbar {
  display: block;
  width: 14px;
}
*::-webkit-scrollbar-track {
  background-color: #ffffff5;
  width: 8px;
}
*::-webkit-scrollbar-button {
  background-color: #ffffff5;
  height: 6px;
}
*::-webkit-scrollbar-thumb {
  width: 8px;
  margin: 2px;
  border: 4px solid transparent;
  border-radius: 8px;
  background-clip: padding-box;
  background-color: #ffffff10;
}
*::-webkit-scrollbar-thumb:hover {
  background-color: #ffffff15;
}

a {
  text-decoration: none;
  font-size: 1rem;
  display: block;
  padding: 0.9rem 2rem 0.9rem 3.125rem;
  margin: 0 0.625rem;
  border-radius: 40px;
  position: relative;
  line-height: 1;
  color: var(--white200);
  transition: all 0.3s;
}

#header__menu {
  padding: 10px 0;
}

#menu {
  border-bottom: 1px solid var(--black100);

  li {
    margin-bottom: 5px;

    a {
      font-size: 1rem;
      display: block;
      padding: 0.9rem 2rem 0.9rem 3.125rem;
      margin: 0 0.625rem;
      border-radius: 40px;
      border: 1px solid transparent;
      position: relative;
      line-height: 1;
      color: #ddd;
      transition: all 0.3s;

      svg {
        width: 1.25rem;
        height: 1.25rem;
        position: absolute;
        left: 1.25rem;
        top: 0.75rem;
      }
    }
    a:hover {
      background-color: #ffffff5;
      color: #388df8;
    }
  }
}
.active a {
  background-color: #388df810;
  color: #388df8;
}

ul,
li {
  list-style: none;
}

.font-special {
  font-family: "Truculenta", sans-serif;
}

input:focus {
  outline: none;
}

/* @layer utilities {
.blue-gradient_text {
    @apply bg-gradient-to-r from-[#00c6ff] to-[#0072ff] bg-clip-text text-transparent;
}

.header {
    @apply flex justify-between items-center sm:px-16 px-8 py-4 max-w-5xl mx-auto absolute top-0 bg-transparent z-10 right-0 left-0;
}

}


.bg_shape{
clip-path: polygon(57% 0%, 81% 21%, 100% 62%, 65% 99%, 5% 85%, 18% 30%);
border-radius: 100%;
}

.triangle {
width: 0px;
height: 0px;
border-style: solid;
border-width: 0 90px 70px 90px;
border-color: transparent transparent #83b6e1 transparent;
transform: rotate(180deg);
} */
